
  
  /*--------- end testimonial area  -------------*/
  /*--------- Start price  Area -------------*/
  .price-area .single-price {
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    text-align: center;
    background-color: #f9f9ff;
    padding: 20px 20px;
  }
  
  .price-area .single-price .package-no {
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    font-weight: 300;
    margin-left: auto;
    margin-right: auto;
    width: 140px;
    height: 140px;
    background-color: rgba(132, 144, 255, 0.1);
    border-radius: 100px;
    align-items: center;
    display: grid;
    border: 30px solid rgba(132, 144, 255, 0.1);
  }
  
  .price-area .single-price .top-part h4 {
    margin-top: 20px;
  }
  
  .price-area .single-price .package-list {
    padding-bottom: 30px;
  }
  
  .price-area .single-price .package-list ul li {
    padding: 10px 0;
    border-top: 1px solid #eee;
  }
  
  .price-area .single-price .package-list ul li:last-child {
    border-bottom: 1px solid #eee;
  }
  
  .price-area .single-price .bottom-part {
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  
  .price-area .single-price .bottom-part .price-btn {
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #fff;
    color: #222;
    padding: 10px 50px;
    font-weight: 600;
    display: inline-block;
  }
  
  .price-area .single-price:hover {
    transform: scale(1.05);
    z-index: 2;
    cursor: pointer;
    -webkit-box-shadow: 2px 1px 45px 8px rgba(132,144,255,1);
    -moz-box-shadow: 2px 1px 45px 8px rgba(132,144,255,1);
    box-shadow: 2px 1px 45px 8px rgba(132,144,255,1);
  }
  
  /*.price-area .single-price:hover h1, .price-area .single-price:hover h4 {*/
  /*  color: #fff;*/
  /*}*/
  
  /*.price-area .single-price:hover .package-no {*/
  /*  border-color: rgba(255, 255, 255, 0.21);*/
  /*  background-color: rgba(255, 255, 255, 0.1);*/
  /*}*/
  
  /*.price-area .single-price:hover .bottom-part h1 {*/
  /*  display: none;*/
  /*}*/
  
  /*.price-area .single-price:hover .bottom-part .price-btn {*/
  /*  display: block;*/
  /*}*/
  
  @media (max-width: 960px) {
    .price-area .single-price {
      margin-bottom: 30px;
    }
  }
  
  @media (max-width: 736px) {
    .price-area .single-price {
      margin: 10px;
    }
  }
  
  /*--------- end price  Area -------------*/
  /*-------- start recent-blog Area -------------*/
  .recent-blog-area {
    background: #ffffff;
  }
  
  .recent-blog-area h1 {
    text-align: center;
    margin-bottom: 25px;
    font-weight: 600;
    text-transform: capitalize;
  }
  
  .recent-blog-area p {
    text-align: center;
  }
  
  .single-recent-blog .thumb {
    overflow: hidden;
  }
  
  .single-recent-blog .thumb img {
    width: 100%;
  }
  
  .single-recent-blog h4 {
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 35px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  
  .single-recent-blog a {
    color: #222;
  }
  
  .single-recent-blog .name {
    font-size: 13px;
    font-weight: 100;
  }
  
  .single-recent-blog p {
    text-align: left;
    margin-top: 15px;
  }
  
  .single-recent-blog .bottom {
    padding: 10px 0;
    border-bottom: 1px solid #eee;
  }
  
  .single-recent-blog .bottom span {
    margin-left: 10px;
  }
  
  @media (max-width: 991px) {
    .single-recent-blog .meta {
      margin-top: 20px;
    }
  }
  
  @media (max-width: 768px) {
    .single-recent-blog {
      margin-bottom: 30px;
    }
  }
  
  @media (max-width: 767px) {
    .single-recent-blog .meta {
      margin-top: 0px;
    }
  }
  
  .single-recent-blog .f-img {
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  
  .single-recent-blog:hover {
    cursor: pointer;
  }
  
  .single-recent-blog:hover h4 {
    color: #8490ff;
  }
  
  .single-recent-blog:hover .f-img {
    cursor: pointer;
    transform: scale(1.05);
  }
  
  /*-------- end recent-blog Area -------------*/
  /*--------- start brand Area -------------*/
  .brands-area {
    padding: 80px 0;
  }
  
  .brands-area .brand-wrap .owl-carousel .owl-item img {
    width: auto !important;
  }
  
  .brands-area .brand-wrap .single-brand {
    text-align: center;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: .5;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  
  .brands-area .brand-wrap .single-brand:hover {
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    filter: grayscale(0%);
    opacity: 1;
  }
  
  /*--------- end brand Area -------------*/
  /*-------- Start Common Page Style   -------------*/
  .link-nav {
    margin-top: 10px;
    margin-bottom: 0px;
  }
  
  .about-content {
    margin-top: 70px;
    padding: 10px 0px;
    text-align: center;
  }
  
  @media (max-width: 767px) {
    .about-content {
      margin-top: 70px;
    }
  }
  
  .about-content h1 {
    font-size: 30px;
    font-weight: 600;
  }
  
  .about-content a {
    color: #fff;
    font-weight: 300;
    font-size: 14px;
  }
  
  .about-content .lnr {
    margin: 0px 10px;
    font-weight: 600;
  }
  
  /*-------- End Common Page Style   -------------*/
  /* =================================== */
  /*  About Page Styles
  /* =================================== */
  .aboutpage-feedback-area {
    background: #f9f9ff !important;
  }
  
  /*-------- Start Skillbar Style  -------------*/
  .single-skill p {
    margin-top: 30px;
    margin-bottom: 5px;
    text-align: right;
  }
  
  .sb_progress {
    height: 14px !important;
    border-radius: 12px;
    border: 3px solid #eee;
  }
  
  .sb_bar {
    height: 8px !important;
    border-radius: 12px;
  }
  
  /*--------  End Skillbar Style  -------------*/
  
  .timeline ul li {
    background: #f9f9ff;
    position: relative;
    margin: 0 auto;
    width: 2px;
    padding-bottom: 40px;
    list-style-type: none;
  }
  
  .timeline ul li:last-child {
    padding-bottom: 7px;
  }
  
  .timeline ul li:before {
    content: '';
    background: #8490ff;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    width: 20px;
    height: 20px;
    border: 5px solid #eee;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
  }
  
  .timeline ul li .hidden {
    opacity: 0;
  }
  
  .timeline ul li .content {
    background-color: white !important;
    box-shadow: 0px 10px 27px 3px #8490ff;
    position: relative;
    top: 7px;
    width: 360px;
    padding: 30px;
  }
  
  .timeline ul li .content h4 {
    padding-bottom: 10px;
    text-align: center;
  }
  
  .timeline ul li .content p {
    text-align: center;
    margin-bottom: 5px;
  }
  
  .timeline ul li .content p b {
    color: #222;
  }
  
  .timeline ul li:nth-child(odd) .content {
    left: 50px;
  }
  
  .timeline ul li:nth-child(odd) .content:before {
    left: -38px;
  }
  
  .timeline ul li:nth-child(even) .content {
    left: calc(-360px - 45px);
  }
  
  .timeline ul li:nth-child(even) .content:before {
    right: -38px;
  }
  
  /* -------------------------
     ----- Media Queries ----- 
     ------------------------- */
  @media screen and (max-width: 1020px) {
    .timeline ul li .content {
      width: 41vw;
    }
    .timeline ul li:nth-child(even) .content {
      left: calc(-41vw - 45px);
    }
  }
  
  @media screen and (max-width: 700px) {
    .timeline ul li {
      margin-left: 20px;
    }
    .timeline ul li .content {
      width: calc(100vw - 100px);
    }
    .timeline ul li .content h2 {
      text-align: initial;
    }
    .timeline ul li:nth-child(even) .content {
      left: 45px;
    }
    .timeline ul li:nth-child(even) .content:before {
      left: -33px;
    }
  }
  
  /* =================================== */
  /*  Pricing Page Styles
  /* =================================== */
  .accordion > dt {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 400;
  }
  
  .accordion > dt > a {
    display: block;
    position: relative;
    color: #222222;
    text-decoration: none;
    padding: 8px 30px;
    font-size: 16px;
    font-weight: 500;
    background: #fafcff;
  }
  
  @media (max-width: 414px) {
    .accordion > dt > a {
      font-size: 12px;
    }
  }
  
  .accordion > dt > a:hover {
    text-decoration: none;
  }
  
  .accordion > dt > a.active {
    color: #8490ff;
    border-color: #ddd;
    cursor: default;
    border-bottom: 1px solid #8490ff;
    background: transparent;
  }
  
  .accordion > dt > a:after {
    content: "\f107";
    width: 15px;
    height: 15px;
    margin-top: -8px;
    position: absolute;
    top: 50%;
    left: 10px;
    font-family: 'FontAwesome';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    font-size: 15px;
    line-height: 15px;
    text-align: center;
    color: #222;
    -webkit-font-smoothing: antialiased;
  }
  
  .accordion > dt > a.active:after,
  .accordion > dt > a.active:hover:after {
    content: "\f106";
    color: #8490ff;
  }
  
  .accordion > dt > a:hover:after {
    color: #444;
  }
  
  .accordion > dd {
    margin-bottom: 10px;
    padding: 10px 20px 20px;
    font-size: 14px;
    line-height: 1.8;
    color: #777;
  }
  
  .accordion > dt > a,
  .accordion > dt > a:after,
  .toggle > dt > a,
  .toggle > dt > a:after {
    -webkit-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);
    -moz-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);
    -o-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);
    -ms-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);
    transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);
  }
  
  dl.accordion.time-line {
    position: relative;
  }
  
  dl.accordion.time-line:before {
    border-left: 1px dashed #cecece;
    bottom: 10px;
    content: "";
    left: 15px;
    position: absolute;
    top: 25px;
    z-index: 0;
  }
  
  .accordion.time-line > dd {
    margin-bottom: 10px;
    padding: 10px 20px 20px 40px;
    font-size: 14px;
    line-height: 1.8;
    color: #777;
  }
  
  .accordion.time-line > dt > a:after {
    content: "\e648";
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin-top: -15px;
    position: absolute;
    top: 50%;
    left: 0;
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: bold;
    font-variant: normal;
    text-transform: none;
    font-size: 20px;
    text-align: center;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    background: #222;
    padding-left: 3px;
  }
  
  .accordion.time-line > dt > a.active:after,
  .accordion.time-line > dt > a.active:hover:after {
    content: "\e641";
    color: #fff;
  }
  
  .accordion.time-line > dt > a {
    display: block;
    position: relative;
    color: #222222;
    text-decoration: none;
    padding: 14px 20px 14px 40px;
    border: none;
    letter-spacing: 3px;
  }
  
  .accordion.time-line > dt > a:hover,
  .accordion.time-line > dt > a.active {
    background: none !important;
  }
  
  /* =================================== */
  /*  Blog Styles
  /* =================================== */
  /*============ Start Blog Home Styles  =============*/
  .blog-home-banner {
    background: url(../img/blog/blog-home-banner.jpg) bottom;
    background-size: cover;
    padding: 130px 0px;
  }
  
  .blog-home-banner .primary-btn {
    border-radius: 0px;
    background: #fff;
    color: #222;
    font-weight: 600;
    border: 1px solid transparent;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  
  .blog-home-banner .primary-btn:hover {
    background: transparent;
    border-color: #fff;
    color: #fff;
  }
  
  .blog-home-banner .overlay-bg {
    background: rgba(0, 0, 0, 0.5);
  }
  
  .blog-page {
    background: #f9f9ff;
  }
  
  .blog-header-content h1 {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
  
  @media (max-width: 414px) {
    .blog-header-content h1 {
      font-size: 30px;
    }
  }
  
  .blog-header-content p {
    margin: 20px 0px;
  }
  
  .top-category-widget-area {
    background-color: #f9f9ff;
  }
  
  .top-category-widget-area .single-cat-widget {
    position: relative;
    text-align: center;
  }
  
  .top-category-widget-area .single-cat-widget .overlay-bg {
    background: rgba(0, 0, 0, 0.85);
    margin: 7%;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  
  .top-category-widget-area .single-cat-widget img {
    width: 100%;
  }
  
  .top-category-widget-area .single-cat-widget .content-details {
    top: 32%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    bottom: 0px;
    position: absolute;
  }
  
  .top-category-widget-area .single-cat-widget .content-details h4 {
    color: #fff;
  }
  
  .top-category-widget-area .single-cat-widget .content-details span {
    display: inline-block;
    background: #fff;
    width: 60%;
    height: 1%;
  }
  
  .top-category-widget-area .single-cat-widget:hover .overlay-bg {
    background: rgba(132, 144, 255, 0.85);
    margin: 7%;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  
  @media (max-width: 991px) {
    .top-category-widget-area .single-cat-widget {
      margin-bottom: 50px;
    }
  }
  
  .post-content-area {
    background-color: #f9f9ff;
  }
  
  .post-content-area .single-post {
    margin-bottom: 50px;
  }
  
  .post-content-area .single-post .meta-details {
    text-align: right;
    margin-top: 35px;
  }
  
  @media (max-width: 767px) {
    .post-content-area .single-post .meta-details {
      text-align: left;
    }
  }
  
  .post-content-area .single-post .meta-details .tags {
    margin-bottom: 30px;
  }
  
  .post-content-area .single-post .meta-details .tags li {
    display: inline-block;
    font-size: 14px;
  }
  
  .post-content-area .single-post .meta-details .tags li a {
    color: #222;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  
  .post-content-area .single-post .meta-details .tags li a:hover {
    color: #8490ff;
  }
  
  @media (max-width: 1024px) {
    .post-content-area .single-post .meta-details {
      margin-top: 0px;
    }
  }
  
  .post-content-area .single-post .user-name a,
  .post-content-area .single-post .date a,
  .post-content-area .single-post .view a,
  .post-content-area .single-post .comments a {
    color: #777777;
    margin-right: 10px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  
  .post-content-area .single-post .user-name a:hover,
  .post-content-area .single-post .date a:hover,
  .post-content-area .single-post .view a:hover,
  .post-content-area .single-post .comments a:hover {
    color: #8490ff;
  }
  
  .post-content-area .single-post .user-name .lnr,
  .post-content-area .single-post .date .lnr,
  .post-content-area .single-post .view .lnr,
  .post-content-area .single-post .comments .lnr {
    font-weight: 900;
    color: #222;
  }
  
  .post-content-area .single-post .feature-img img {
    width: 100%;
  }
  
  .post-content-area .single-post .posts-title h3 {
    margin: 20px 0px;
  }
  
  .post-content-area .single-post .excert {
    margin-bottom: 20px;
  }
  
  .post-content-area .single-post .primary-btn {
    background: #fff !important;
    color: #222 !important;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    border-radius: 0px !important;
  }
  
  .post-content-area .single-post .primary-btn:hover {
    background: #8490ff !important;
    color: #fff !important;
  }
  
  .posts-list .posts-title h3 {
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  
  .posts-list .posts-title h3:hover {
    color: #8490ff;
  }
  
  .blog-pagination {
    padding-top: 60px;
    padding-bottom: 120px;
  }
  
  .blog-pagination .page-link {
    border-radius: 0;
  }
  
  .blog-pagination .page-item {
    border: none;
  }
  
  .page-link {
    background: transparent;
    font-weight: 400;
  }
  
  .blog-pagination .page-item.active .page-link {
    background-color: #8490ff;
    border-color: transparent;
    color: #fff;
  }
  
  .blog-pagination .page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #777777;
    border: none;
  }
  
  .blog-pagination .page-link .lnr {
    font-weight: 600;
  }
  
  .blog-pagination .page-item:last-child .page-link,
  .blog-pagination .page-item:first-child .page-link {
    border-radius: 0;
  }
  
  .blog-pagination .page-link:hover {
    color: #fff;
    text-decoration: none;
    background-color: #8490ff;
    border-color: #eee;
  }
  
  .sidebar-widgets {
    padding-bottom: 10px;
  }
  
  .widget-wrap {
    background: #fafaff;
    border: 1px solid #eee;
  }
  
  @media (max-width: 991px) {
    .widget-wrap {
      margin-top: 50px;
    }
  }
  
  .widget-wrap .single-sidebar-widget {
    margin: 30px 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #eee;
  }
  
  .widget-wrap .single-sidebar-widget:last-child {
    border-bottom: none;
    margin-bottom: 0px;
  }
  
  .widget-wrap .search-widget form.search-form input[type=text] {
    color: #fff;
    padding: 10px 22px;
    font-size: 14px;
    border: none;
    float: left;
    width: 80%;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    background: #8490ff;
  }
  
  .widget-wrap .search-widget ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #fff;
  }
  
  .widget-wrap .search-widget ::-moz-placeholder {
    /* Firefox 19+ */
    color: #fff;
  }
  
  .widget-wrap .search-widget :-ms-input-placeholder {
    /* IE 10+ */
    color: #fff;
  }
  
  .widget-wrap .search-widget :-moz-placeholder {
    /* Firefox 18- */
    color: #fff;
  }
  
  .widget-wrap .search-widget form.search-form button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #8490ff;
    color: #fff;
    font-size: 17px;
    border: none;
    cursor: pointer;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
  }
  
  .widget-wrap .search-widget form.search-form::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .widget-wrap .user-info-widget {
    text-align: center;
  }
  
  .widget-wrap .user-info-widget a h4 {
    margin-top: 40px;
    margin-bottom: 5px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  
  .widget-wrap .user-info-widget .social-links li {
    display: inline-block;
    margin-bottom: 10px;
  }
  
  .widget-wrap .user-info-widget .social-links li a {
    color: #222;
    padding: 10px;
    font-size: 14px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  
  .widget-wrap .user-info-widget .social-links li a:hover {
    color: #8490ff;
  }
  
  .widget-wrap .popular-post-widget .popular-title {
    background: #8490ff;
    color: #fff;
    text-align: center;
    padding: 12px 0px;
  }
  
  .widget-wrap .popular-post-widget .popular-post-list {
    margin-top: 30px;
  }
  
  .widget-wrap .popular-post-widget .popular-post-list .thumb img {
    width: 100%;
  }
  
  .widget-wrap .popular-post-widget .single-post-list {
    margin-bottom: 20px;
  }
  
  .widget-wrap .popular-post-widget .single-post-list .details {
    margin-left: 12px;
  }
  
  .widget-wrap .popular-post-widget .single-post-list .details h6 {
    font-weight: 600;
    margin-bottom: 10px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  
  .widget-wrap .popular-post-widget .single-post-list .details h6:hover {
    color: #8490ff;
  }
  
  .widget-wrap .popular-post-widget .single-post-list .details p {
    margin-bottom: 0px;
  }
  
  .widget-wrap .ads-widget img {
    width: 100%;
  }
  
  .widget-wrap .post-category-widget .category-title {
    background: dodgerblue;
    color: #fff;
    text-align: center;
    padding: 12px 0px;
  }
  
  .widget-wrap .post-category-widget .cat-list li {
    padding-top: 15px;
    padding-bottom: 8px;
    border-bottom: 2px dotted #eee;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  
  .widget-wrap .post-category-widget .cat-list li p {
    font-weight: 300;
    font-size: 14px;
    margin-bottom: 0px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  
  .widget-wrap .post-category-widget .cat-list li a {
    color: #777777;
  }
  
  .widget-wrap .post-category-widget .cat-list li:hover {
    border-color: #8490ff;
  }
  
  .widget-wrap .post-category-widget .cat-list li:hover p {
    color: dodgerblue;
  }
  
  .widget-wrap .newsletter-widget .newsletter-title {
    background: dodgerblue;
    color: #fff;
    text-align: center;
    padding: 12px 0px;
  }
  
  .widget-wrap .newsletter-widget .col-autos {
    width: 100%;
  }
  
  .widget-wrap .newsletter-widget p {
    text-align: center;
    margin: 20px 0px;
  }
  
  .widget-wrap .newsletter-widget .bbtns {
    background: #8490ff;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    padding: 8px 20px;
    border-radius: 0;
  }
  
  .widget-wrap .newsletter-widget .input-group-text {
    background: #fff;
    border-radius: 0px;
    vertical-align: top;
  }
  
  .widget-wrap .newsletter-widget .input-group-text i {
    color: #ccc;
    margin-top: -1px;
  }
  
  .widget-wrap .newsletter-widget .form-control {
    border-left: none !important;
    border-right: none !important;
    border-radius: 0px;
    font-size: 13px;
    color: #ccc;
    padding: 9px;
    padding-left: 0px;
  }
  
  .widget-wrap .newsletter-widget .form-control:focus {
    box-shadow: none;
    border-color: #ccc;
  }
  
  .widget-wrap .newsletter-widget ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    font-size: 13px;
    color: #ccc;
  }
  
  .widget-wrap .newsletter-widget ::-moz-placeholder {
    /* Firefox 19+ */
    font-size: 13px;
    color: #ccc;
  }
  
  .widget-wrap .newsletter-widget :-ms-input-placeholder {
    /* IE 10+ */
    font-size: 13px;
    color: #ccc;
  }
  
  .widget-wrap .newsletter-widget :-moz-placeholder {
    /* Firefox 18- */
    font-size: 13px;
    color: #ccc;
  }
  
  .widget-wrap .newsletter-widget .text-bottom {
    margin-bottom: 0px;
  }
  
  .widget-wrap .tag-cloud-widget .tagcloud-title {
    background: dodgerblue;
    color: #fff;
    text-align: center;
    padding: 12px 0px;
    margin-bottom: 30px;
  }
  
  .widget-wrap .tag-cloud-widget ul li {
    display: inline-block;
    border: 1px solid #eee;
    background: #fff;
    padding: 4px 14px;
    margin-bottom: 10px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  
  .widget-wrap .tag-cloud-widget ul li:hover {
    background: dodgerblue;
  }
  
  .widget-wrap .tag-cloud-widget ul li:hover a {
    color: #fff;
  }
  
  .widget-wrap .tag-cloud-widget ul li a {
    font-size: 12px;
    color: #222;
  }
  
  /*============ End Blog Home Styles  =============*/
  /*============ Start Blog Single Styles  =============*/
  .single-post-area {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  
  .single-post-area .meta-details {
    margin-top: 20px !important;
  }
  
  .single-post-area .social-links li {
    display: inline-block;
    margin-bottom: 10px;
  }
  
  .single-post-area .social-links li a {
    color: #222;
    padding: 7px;
    font-size: 14px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  
  .single-post-area .social-links li a:hover {
    color: #8490ff;
  }
  
  .single-post-area .quotes {
    margin-top: 20px;
    padding: 30px;
    background-color: white;
    box-shadow: -20.84px 21.58px 30px 0px rgba(176, 176, 176, 0.1);
  }
  
  .single-post-area .arrow {
    position: absolute;
  }
  
  .single-post-area .arrow .lnr {
    font-size: 20px;
    font-weight: 600;
  }
  
  .single-post-area .thumb .overlay-bg {
    background: rgba(0, 0, 0, 0.8);
  }
  
  .single-post-area .navigation-area {
    border-top: 1px solid #eee;
    padding-top: 30px;
  }
  
  .single-post-area .navigation-area .nav-left {
    text-align: left;
  }
  
  .single-post-area .navigation-area .nav-left .thumb {
    margin-right: 20px;
    background: #000;
  }
  
  .single-post-area .navigation-area .nav-left .thumb img {
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  
  .single-post-area .navigation-area .nav-left .lnr {
    margin-left: 20px;
    opacity: 0;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  
  .single-post-area .navigation-area .nav-left:hover .lnr {
    opacity: 1;
  }
  
  .single-post-area .navigation-area .nav-left:hover .thumb img {
    opacity: .5;
  }
  
  @media (max-width: 767px) {
    .single-post-area .navigation-area .nav-left {
      margin-bottom: 30px;
    }
  }
  
  .single-post-area .navigation-area .nav-right {
    text-align: right;
  }
  
  .single-post-area .navigation-area .nav-right .thumb {
    margin-left: 20px;
    background: #000;
  }
  
  .single-post-area .navigation-area .nav-right .thumb img {
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  
  .single-post-area .navigation-area .nav-right .lnr {
    margin-right: 20px;
    opacity: 0;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  
  .single-post-area .navigation-area .nav-right:hover .lnr {
    opacity: 1;
  }
  
  .single-post-area .navigation-area .nav-right:hover .thumb img {
    opacity: .5;
  }
  
  @media (max-width: 991px) {
    .single-post-area .sidebar-widgets {
      padding-bottom: 0px;
    }
  }
  
  .comments-area {
    background: #fafaff;
    border: 1px solid #eee;
    padding: 50px 20px;
    margin-top: 50px;
  }
  
  @media (max-width: 414px) {
    .comments-area {
      padding: 50px 8px;
    }
  }
  
  .comments-area h4 {
    text-align: center;
    margin-bottom: 50px;
  }
  
  .comments-area a {
    color: #222;
  }
  
  .comments-area .comment-list {
    padding-bottom: 30px;
  }
  
  .comments-area .comment-list:last-child {
    padding-bottom: 0px;
  }
  
  .comments-area .comment-list.left-padding {
    padding-left: 25px;
  }
  
  @media (max-width: 413px) {
    .comments-area .comment-list .single-comment h5 {
      font-size: 12px;
    }
    .comments-area .comment-list .single-comment .date {
      font-size: 11px;
    }
    .comments-area .comment-list .single-comment .comment {
      font-size: 10px;
    }
  }
  
  .comments-area .thumb {
    margin-right: 20px;
  }
  
  .comments-area .date {
    font-size: 13px;
    color: #cccccc;
  }
  
  .comments-area .comment {
    color: #777777;
  }
  
  .comments-area .btn-reply {
    background-color: #fff;
    color: #222;
    border: 1px solid #eee;
    padding: 8px 30px;
    display: block;
    font-weight: 600;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  
  .comments-area .btn-reply:hover {
    background-color: #8490ff;
    color: #fff;
  }
  
  .comment-form {
    background: #fafaff;
    text-align: center;
    border: 1px solid #eee;
    padding: 50px 20px;
    margin-top: 50px;
  }
  
  .comment-form h4 {
    text-align: center;
    margin-bottom: 50px;
  }
  
  .comment-form .name {
    padding-left: 0px;
  }
  
  @media (max-width: 991px) {
    .comment-form .name {
      padding-right: 0px;
    }
  }
  
  .comment-form .email {
    padding-right: 0px;
  }
  
  @media (max-width: 991px) {
    .comment-form .email {
      padding-left: 0px;
    }
  }
  
  .comment-form .form-control {
    padding: 12px;
    background: #fff;
    border: none;
    border-radius: 0px;
    width: 100%;
    font-size: 13px;
    color: #777777;
  }
  
  .comment-form .form-control:focus {
    box-shadow: none;
    border: 1px solid #eee;
  }
  
  .comment-form ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    font-size: 13px;
    color: #777;
  }
  
  .comment-form ::-moz-placeholder {
    /* Firefox 19+ */
    font-size: 13px;
    color: #777;
  }
  
  .comment-form :-ms-input-placeholder {
    /* IE 10+ */
    font-size: 13px;
    color: #777;
  }
  
  .comment-form :-moz-placeholder {
    /* Firefox 18- */
    font-size: 13px;
    color: #777;
  }
  
  .comment-form .primary-btn {
    border-radius: 0px !important;
    border: 1px solid transparent;
    color: #fff;
    font-weight: 600;
  }
  
  .comment-form .primary-btn:hover {
    background: transparent;
    border-color: #8490ff !important;
    color: #8490ff !important;
  }
  
  /*============ End Blog Single Styles  =============*/
  /* =================================== */
  /*  Contact Page Styles
  /* =================================== */
  .contact-page-area {
    background: #f9f9ff;
  }
  
  .contact-page-area .map-wrap {
    margin-bottom: 120px;
  }
  
  @media (max-width: 991px) {
    .contact-page-area .map-wrap {
      margin-bottom: 50px;
    }
  }
  
  .contact-page-area .contact-btns {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    padding: 40px;
    color: #fff;
    margin-bottom: 30px;
  }
  
  .contact-page-area .contact-btns:hover {
    color: #fff;
  }
  
  .contact-page-area .form-area .form-control:focus {
    box-shadow: none !important;
    border-color: #ced4da !important;
  }
  
  .contact-page-area .form-area input {
    padding: 15px;
  }
  
  .contact-page-area .form-area input,
  .contact-page-area .form-area textarea {
    border-radius: 0;
    font-size: 13px !important;
  }
  
  .contact-page-area .form-area textarea {
    height: 190px;
    margin-top: 0px;
    padding: 15px;
  }
  
  .contact-page-area .form-area .genric-btn {
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    border-radius: 0 !important;
    font-size: 14px;
    text-transform: uppercase !important;
  }
  
  .contact-page-area .form-area .genric-btn:hover {
    border: 1px solid #8490ff;
    color: #8490ff !important;
  }
  
  @media (max-width: 991px) {
    .contact-page-area .address-wrap {
      margin-bottom: 30px;
    }
  }
  
  .contact-page-area .address-wrap .single-contact-address {
    margin-bottom: 8px;
  }
  
  .contact-page-area .address-wrap .single-contact-address h5 {
    font-weight: 300;
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  .contact-page-area .address-wrap .single-contact-address .lnr {
    font-size: 30px;
    font-weight: 500;
    color: dodgerblue;
    margin-right: 30px;
  }
  
  /* =================================== */
  /*  Footer Styles
  /* =================================== */
  .footer-area {
    background-color: #04091e;
  }
  
  .single-footer-widget h4 {
    color: #fff !important;
    margin-bottom: 25px;
    font-weight: 500;
  }
  
  .single-footer-widget .form-control {
    border: none;
    width: 80% !important;
    font-weight: 300;
    background: #f9f9ff;
    padding-left: 20px;
    border-radius: 0;
    font-size: 14px;
    line-height: normal !important;
    color: #222;
  }
  
  .single-footer-widget .form-control:focus {
    box-shadow: none;
    color: #222;
  }
  
  .single-footer-widget ul li {
    margin-bottom: 10px;
  }
  
  .single-footer-widget ul li a {
    color: #777777;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  
  .single-footer-widget ul li a:hover {
    color: #8490ff;
  }
  
  .single-footer-widget .bb-btn {
    color: #8490ff;
    color: #fff;
    font-weight: 300;
    border-radius: 0;
    z-index: 9999;
    cursor: pointer;
  }
  
  .single-footer-widget .info {
    margin-top: 25px;
    color: #fff;
    font-size: 12px;
  }
  
  .single-footer-widget .info.valid {
    color: green;
  }
  
  .single-footer-widget .info.error {
    color: red;
  }
  
  .single-footer-widget .btn {
    font-size: 1.2rem;
    border-radius: 0;
    background: #8490ff;
    color: #fff;
  }
  
  .single-footer-widget .btn .lnr {
    line-height: inherit;
    font-size: 13px;
    padding: 0px 4px;
  }
  
  .single-footer-widget ::-moz-selection {
    /* Code for Firefox */
    background-color: #191919 !important;
    color: #777777;
  }
  
  .single-footer-widget ::selection {
    background-color: #191919 !important;
    color: #777777;
  }
  
  .single-footer-widget ::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #777777;
    font-weight: 300;
  }
  
  .single-footer-widget :-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #777777;
    opacity: 1;
    font-weight: 300;
  }
  
  .single-footer-widget ::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #777777;
    opacity: 1;
    font-weight: 300;
  }
  
  .single-footer-widget :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #777777;
    font-weight: 300;
  }
  
  .single-footer-widget ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #777777;
    font-weight: 300;
  }
  
  @media (max-width: 991.98px) {
    .single-footer-widget {
      margin-bottom: 30px;
    }
  }
  
  .single-footer-widget .footer-social a {
    width: 30px;
    height: 30px;
    display: inline-block;
    text-align: center;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  
  .single-footer-widget .footer-social a i {
    vertical-align: bottom;
    color: #fff;
  }
  
  .single-footer-widget .footer-social a:hover i {
    color: #8490ff;
  }
  
  .footer-bottom {
    padding-top: 50px;
  }
  
  .footer-bottom .footer-social {
    text-align: right;
  }
  
  @media (max-width: 991px) {
    .footer-bottom .footer-social {
      text-align: left;
      margin-top: 30px;
    }
  }
  
  .footer-bottom .lnr, .footer-bottom a {
    color: #8490ff;
  }
  
  .footer-text a {
    color: #8490ff;
  }
  
  /*-------- end footer Area -------------*/
  